/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
}

/* HEADER */
.header {
  width: 100%;
  padding: 20px 0 100px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #1f2937;
  color: #f9faf8;

  grid-area: header;
}

.logo {
  font-size: 2rem;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav a {
  color: #e5e7eb;
  text-decoration: none;
}

.nav a:hover {
  color: #3882f6;
  text-decoration: underline;
}

/* SECTION 1 */
.section1 {
  width: 100%;
  padding: 20px 0 100px 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;

  background-color: #1f2937;
  color: #f9faf8;
}

.section1-image {
  height: 350px;
}

.text-section {
  max-width: 700px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
}

.description {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;

  align-self: flex-start;
  cursor: pointer;
}

.sign-button:hover {
  background-color: #4888ee;
}

/* SECTION 2 */
.section2 {
  width: 100%;
  padding: 50px 0 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background-color: #f9faf8;
  color: #1f2937;
}

.images-title {
  font-size: 36px;
  font-weight: bolder;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;
  font-weight: bold;
}

.image-holder {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 20px;
}

.individual-image-container > p {
  max-width: 250px;
  margin: 10px 50px 0px 50px;
  text-align: center;
}

/* SECTION 3 */
.section3 {
  width: 100%;
  padding: 100px 0 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  color: #1f2937;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  max-width: 1000px;
  font-weight: lighter;
  color: #1f2937;
}

.quote-author {
  margin-left: 1000px;
  font-weight: bolder;
}

/* SECTION 4 */
.section4 {
  max-width: 1000px;
  padding: 50px 100px;
  margin: 80px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;

  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 20px;
}

.special-text {
  display: block;
  font-weight: bolder;
}

.section4 > button {
  border: 2px solid #e5e7eb;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #1f2937;
  text-align: center;
  color: #f9faf8;
}

.footer p:first-child {
  margin-bottom: 10px;
}

.footer a {
  color: #f9faf8;
}

.footer a:hover {
  color: #3882f6;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .sign-button {
    align-self: center;
  }

  .text-section {
    text-align: center;
  }

  .quote {
    text-align: center;
  }

  .quote-author {
    margin-left: 0;
  }

  .section4 {
    text-align: center;
    padding: 25px 50px;
    gap: 20px;
  }
}
